body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo{
  background-image: url("../src/img/Logo.png");
  width: 232px;
  height: 94px;
}

html{
  background-image: url("../src/img/main_back.jpg"); 
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  background-color: #14131387;
  height: 1200px;
}
.test li{
  margin-right: 30px;
  list-style: none;
  cursor: pointer;
  padding-top: 30px;
  margin-bottom: 30px;
}

.test{
  display: flex;
}

a{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #FFFFFF
}





.new_name{
  margin-right: 15px;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #FFFFFF;

}

.logout_container{
  display: flex;
    align-items: center;
    margin-right: auto;
    position: absolute;
    right: 10px;
    top: -17px;
}

.eventos_name li {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  
  color: #FFFFFF;

  list-style: none;

  margin-bottom: 30px;

  cursor: pointer;
}

.evento_title{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #FFD43D;
  margin-left: 15px;
}

.evento_information{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: black;
  margin-left: 35px;
}


.evento_information p{
  background-color: #F4F4F4;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    padding-left: 15px;
    margin-right: 15px;
}


.crete_event_form input, .login_form input{
  
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  height: 30px;
  width: 30%;
  background: transparent;
  color: #FFFFFF;
  font-size: 12px;
}

.crete_event_form label, .login_form label{
  display: block;
margin-bottom: 20px;
font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  color: #FFFFFF;
  margin-left: 15px;
  margin-top: 10px;
}

.main_title{
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #FFD43D;
  margin: 150px auto 40px auto;
  justify-content: center;
}


.crete_event_form, .login_form{
  text-align: center;
}

.crete_event_form{
  background-color: #439de536;
  padding: 20px;
}


.submit_btn, .login_btn{
  width: 204px;
height: 54px;
background: #FFD43D;
border-radius: 15px;
color: black;
margin-top: 20px;
}

.error_mesage{
  font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    margin-left: 35px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ca0808;
  
}
.eventos_name {
  color: white;
  width: 100%;
  background-color: #439de536;
    padding: 10px 10px 10px 10px;
    

}
.eventos_name tr td {
  text-align: center;
}

.eventos_name th{
  font-size: 20px;
  color: #FFD43D;
}


.evento_information_container{
  background-color: white;
  padding: 10px 10px 10px 10px;
}

.cancel_btn, .edit_btn{
  width: 112px;
height: 54px;
background: #FFD43D;
border-radius: 15px;
color: black;
margin-top: 20px;
margin-right: 20px;
margin-bottom: 20px;
}

.textarea_cancel{
  margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 270px;
    height: 78px;
}

::placeholder{
  padding-left: 55px;
  padding-top: 30px;
  color: black;
}

.ver_btn{
  cursor: pointer;
  color: #FFD43D;
  font-size: 20px;
}

.tipo_slt, .recinto_slt{
  border-radius: 15px;
  width: 181px;
  height: 50px;
  color: black;
  background-color: transparent;
  font-size: 20px;
  color: white;
}

.recinto_slt option, .tipo_slt option{
  background-color: transparent;
  font-size: 20px;
  color: black;
}

#rGenero{
  display: block;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    width: 100%; 
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 10px;
}

.inputBox1{
  display: flex;
  align-items: center;
}

.no_especificar{
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  height: 100px;
  width: 15%;
  background: transparent;
  color: #FFFFFF;
  font-size: 12px;
  margin-left: 30px;
}

.no_especificar1{
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  height: 100px;
  width: 15%;
  background: transparent;
  color: #FFFFFF;
  font-size: 12px;
  margin-left: 395px;
}

.no_especificar2{
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  height: 100px;
  width: 15%;
  background: transparent;
  color: #FFFFFF;
  font-size: 12px;
  margin-left: 255px;
}
