html,button{
    font-family: 'Montserrat', sans-serif;
}
.error_input{
    border: 2px solid #ED4C67 !important;
}
/* Header y nav */
#header_principal{
    background: #1e272e;    
}
#header_principal nav{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
}
#header_principal nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px; 
}

#header_principal nav a:hover{
    color: #ffeaa7;
}
header div{
    width: 100%;
    height: 300px;
    background-image: url("../imgs/banner_casa.jpg");
    background-size: cover;
    background-position: center;
    
}







.main_container{
    
    height: 1200px;
    background-image: url("../imagenes/main_back.jpg");
}

.iniciar{
    position: absolute;
width: 184px;
height: 35px;
left: 627px;
top: 254px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #FFFFFF;
}

.correo_inicio{
    position: absolute;
width: 423px;
height: 53px;
left: 508px;
top: 368px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 15px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #B4B4B4;

}

.contrasena_inicio{
    position: absolute;
width: 423px;
height: 53px;
left: 508px;
top: 449px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 15px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #B4B4B4;
}

.ingresar_btn{
    position: absolute;
width: 204px;
height: 54px;
left: 617px;
top: 581px;

background: #FFD43D;
border-radius: 15px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #2F2F2F;
}

.olvidaste{
    position: absolute;
width: 229px;
height: 23px;
left: 605px;
top: 680px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;
}

.registrarse{
    position: absolute;
width: 299px;
height: 23px;
left: 570px;
top: 722px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}

.body_registro{
    background-image: url("../imagenes/second_back.jpg");
    box-shadow: inset 0 0 0 1000px rgba(36, 36, 36, 0.85);
}
.crear_cuenta_container{
    position: absolute;
    left: 627px;
    top: 254px;
    

}

.registro_lines_container{
    display: flex;
    position: absolute;
    left: -275px;
    margin-top: 40px;
}

.registro_cliente_container{
    background-image: url("../imagenes/cliente.png");
    width: 256px;
    height: 256px;
    position: relative;
    margin-right: 25px;
}

.registro_organizador_container{
    background-image: url("../imagenes/organizador.jpg");
    width: 256px;
    height: 256px;
    margin-right: 25px;
}

.registro_proveedor_container{
    background-image: url("../imagenes/proveedor.png");
    width: 256px;
    height: 256px; 
    margin-right: 25px;
}

.link_cliente{
    position: absolute;
    width: 229px;
    height: 23px;
    left: 63px;
    top: 211px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 23px;
    
    color: #FFFFFF;
}

.link_organizador{
    position: absolute;
    width: 229px;
    height: 23px;
    left: 308px;
    top: 211px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 23px;
    
    color: #FFFFFF;
}

.link_proveedor{
    position: absolute;
    width: 229px;
    height: 23px;
    left: 599px;
    top: 211px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 23px;
    
    color: #FFFFFF;  
}

.crear_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 30px; 
    margin-left: -90px; 
}

.volver{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 23px;
    color: #FFFFFF;
    position: absolute;
    right: 40px;
    top: 40px; 
}